@page "/userDashboard"
@rendermode InteractiveAuto
@using BlogCenter.Blazor.Components.Components
@using BlogCenter.Blazor.Components.Layout
@using Microsoft.AspNetCore.Authorization

<h3>userDashboard</h3>

<div>
    <LogoutButton />
</div>




