@page "/adminDashboard"
@rendermode InteractiveAuto
@using BlogCenter.Blazor.Components.Components
@using BlogCenter.Blazor.Components.Layout
@inject IJSRuntime JSRuntime

<NavMenu/>

<h3>adminDashboard</h3>


@code{

}
