@page "/adminDashboard"
@rendermode InteractiveAuto
@using BlogCenter.Blazor.Components.Components
@using BlogCenter.Blazor.Components.Layout
@using Microsoft.AspNetCore.Authorization
@inject IJSRuntime JSRuntime


<h3>adminDashboard</h3>
<div>
    <LogoutButton/>
</div>


