@page "/adminDashboard"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Authorization
@using BlogCenter.WebAPI.Dtos.Enums
@inject IJSRuntime JSRuntime


<div class="p-4">
    <div class="row">
        <div class="col-md-4 col-xl-4 col-xxl-4 col-sm-12 col form-floating">
            <InputText @bind-Value=searchText class="form-control" @DisplayName="Search " />
        </div>
        <div class="col-md-4 col-xl-4 col-xxl-4 col-sm-12 col form-floating" >
            <input type="text" class="form-control" placeholder="SearchbyTable" />
        </div>
        <div class="col-md-12 col-xl-3 col-xxl-3 col form-floating">
            <InputSelect @bind-Value="selectedStatus" class="form-control">
                <option hidden selected>Filter by Status</option>
                @foreach (var value in Enum.GetValues(typeof(BlogCenter.WebAPI.Dtos.Enums.Enums.BlogStatus)))
                {
                    <option value="@((int)value)">@value</option>
                }
            </InputSelect>
        </div>
    </div>
    <div class="row">

        <BlogTable />
    </div>
</div>

@code {
    protected string searchText = string.Empty;
    protected int selectedStatus;
}


