<!-- AuthLayout.razor -->
@inherits LayoutComponentBase

<div class="auth-layout">
    <main class="flex-grow-1 main-content">
        <div class="">
            <div class="row">
                <div class="col">
                    @Body
                </div>
            </div>
        </div>
    </main>
</div>
