@using Microsoft.AspNetCore.Components.Authorization

@* <div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-center">
        <a class="navbar-brand h1" href="">BlogCenter</a>
    </div>
</div> *@

@* <div class="sidebar">
    <div class="nav-scrollable h5 mt-5 " onclick="document.querySelector('.navbar-toggler').click()">
        <nav class="flex-column">
            <div class="nav-item d-flex justify-content-center ">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="button " aria-hidden="true"></span> Dashboard
                </NavLink>
            </div>
            <AuthorizeView Roles="admin">
                <Authorized>
                    <div class="nav-item d-flex justify-content-center">
                        <NavLink class="nav-link" href="users">
                            <span class="button" aria-hidden="true"></span> Users
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="admin">
                <Authorized>
                    <div class="nav-item d-flex justify-content-center">
                        <NavLink class="nav-link" href="category">
                            <span class="button" aria-hidden="true"></span> Category
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
            <AuthorizeView Roles="admin">
                <Authorized>
                    <div class="nav-item d-flex justify-content-center">
                        <NavLink class="nav-link" href="blogs">
                            <span class="button" aria-hidden="true"></span> Blogs
                        </NavLink>
                    </div>
                </Authorized>
            </AuthorizeView>
        </nav>
    </div>
</div> *@
@* 
 
<nav>
    <ul class="list-unstyled">
        <li><NavLink href="" Match="NavLinkMatch.All">Dashboard</NavLink></li>
        <li><NavLink href="page1">Users</NavLink></li>
        <li><NavLink href="page2">Categories</NavLink></li>
        <li><NavLink href="page2">Blogs</NavLink></li>
    </ul>
</nav> *@

<MudNavMenu>
    <MudNavLink Href="/" Match="NavLinkMatch.All">Dashboard</MudNavLink>
    <MudNavLink Href="/servers" Match="NavLinkMatch.Prefix">Servers</MudNavLink>
    <MudNavGroup Title="Settings" Expanded="true">
        <MudNavLink Href="/users" Match="NavLinkMatch.Prefix">Users</MudNavLink>
        <MudNavLink Href="/security" Match="NavLinkMatch.Prefix">Security</MudNavLink>
    </MudNavGroup>
    <MudNavLink Href="/about" Match="NavLinkMatch.Prefix">About</MudNavLink>
</MudNavMenu>