

<aside class="sidebar bg-info">
    <nav class="nav flex-column ">
        <NavLink class="nav-link text-white" style="display: flex;justify-content: center;" href="admin-dashboard" Match="NavLinkMatch.All">Dashboard</NavLink>
        <NavLink class="nav-link text-white" style="display: flex;justify-content: center;" href="user">Users</NavLink>
        <NavLink class="nav-link text-white " style="display: flex;justify-content: center;" href="category">Categories</NavLink>
        <NavLink class="nav-link text-white " style="display: flex;justify-content: center;" href="admin-dashboard">Blogs</NavLink>
    </nav>
</aside>