@rendermode InteractiveAuto

<aside class="sidebar bg-info">
    <nav class="nav flex-column ">
        <NavLink class="nav-link text-white" style="display: flex;justify-content: center;" href="" Match="NavLinkMatch.All">Home</NavLink>
        <NavLink class="nav-link text-white" style="display: flex;justify-content: center;" href="page1">Page 1</NavLink>
        <NavLink class="nav-link text-white " style="display: flex;justify-content: center;" href="page2">Page 2</NavLink>
    </nav>
</aside>