@rendermode InteractiveAuto
@inject IJSRuntime JSRuntime
@inject NavigationManager navigationManager

<div class="position-absolute top-0 end-0 btn btn-success ">
<button @onclick="DeleteAuthToken" >Logout</button>
</div>

@code {
    private async Task DeleteAuthToken()
    {
        await JSRuntime.InvokeVoidAsync("deleteCookie", "authToken");
        navigationManager.NavigateTo("/");
    }
}
