@page "/"
@rendermode InteractiveServer    

<EditForm FormName="LoginForm" Model="@loginDto" class="form-floating" OnValidSubmit="AuthenticateUser">
    <div>
        <label for="email">Email:</label>
        <InputText id="email" @bind-Value="loginDto.Email" class="form-control" />
    </div>
    <div>
        <label for="password">Password:</label>
        <InputText id="password" @bind-Value="loginDto.Password" class="form-control" />
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</EditForm>